@tailwind base;
@tailwind components;
@tailwind utilities;

*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-image: url("../assets/images/main-background.png");
    @apply bg-dark;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}
