./.idea
/.idea
.idea

./backend/.idea/
/backend/.idea/
backend/.idea/
./backend/node_modules/
/backend/node_modules/
backend/node_modules/
./backend/.env
/backend/.env
backend/.env

./frontend/.idea/
/frontend/.idea/
frontend/.idea/
./frontend/node_modules/
/frontend/node_modules/
frontend/node_modules/
./frontend/.env
/frontend/.env
frontend/.env
